*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 50px 0 0 0;
    color:hsl(0, 0%, 100%);
    font-size: 1.2rem;
    font-family: sans-serif;
}

.row{
    width:100vw;
    height: 100px;
    display: flex;
    flex-direction: row;
}

.col{
    background-color: rgb(140, 221, 194);
    margin:8px;
    padding: 30px 28px;
    flex:1;
}

.col-2{
    background-color: rgb(140, 221, 194);
    margin:8px;
    padding: 30px 28px;
    flex:2
}

.col-3{
    background-color: rgb(140, 221, 194);
    margin:8px;
    padding: 30px 28px;
    flex:3;
}